.main-content {
  display: flex;
  margin-top: 3em;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  padding: 1em;
  border: 1px solid grey;
  width: 30rem;
}
.map {
  width: 30rem;
  border: 1px solid grey;
  border-left: 0;
}
.input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
  width: 25rem;
}
.sub-content {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin-left: 4em;
  padding: 2em;
  word-wrap: break-word;
}
.span {
  width: 20rem;
}
