.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.option-voucher {
  border: 0;
}
.main-total {
  display: flex;
  flex-direction: column;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
.subTotal {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
